{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo

{% endblock %}


{% block content %}

    <h1>Allocation 1000</h1>

    <a href="/tasks" role="button">Tasks</a>

    <a href="/workers" role="button">Workers</a>

{% endblock %}

