{#=====================================================
  Worker list page
  - List of Workers and their information
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Tasks

{% endblock %}


{% block content %}

    <h1>Tasks</h1>


    <article>

        <table>
        
            <thead>
                <tr>
                    <th>Task Name</th>
                    <th>Priority</th>
                    <th>Workers</th>
                </tr>
            </thead>
        
            <tbody>
            
                {% for task in tasks %}

                    <tr>
                        <td>{{ task.name }}</td>
                        <td>{{ task.priority }}</td>

                        <td>
                            {% for worker in workers %}
                                {# Has this worker been alloocated to this task? #}
                                {% if worker.task_id == task.id %}
                                    <a href="/worker/{{ worker.id }}" title="{{ worker.name }}">{{ worker.id }}</a>
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>

                {% else %}
                    None
                {% endfor %}            
            
            </tbody>
        
        </table>
            

    </article>
  <form>
  <div><strong>Be cool and add a new task here v</strong></div>
  <div><label>Name of Task</label>
  <input class="name"></div>
  <div><label>Priority</label></div>
  </form>
  <input class="priority"></input>
<div><label>Worker</label></div>
    <input class="workers"></input>
  <a><button href="add">
  Add Task</button></a>

    {# <article>

        <h3>Add a New Thing...</h3>

        <form action="/add" method="POST">

            <input
                type="text"
                name="name"
                placeholder="Worker"
                required
            >
            <input
                type="text"
                name="notes"
                placeholder="Some notes"
                required
            >
            <input
                type="text"
                name="specialty"
                placeholder="Specialty"
                required
            >

            <input
                type="number"
                name="ethic"
                min="0"
                placeholder="Their Work Ethic"
                required
            >

            <button>Add worker</button>

        </form> #}


{% endblock %}