{#=====================================================
  Worker list page
  - List of Workers and their information
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/workers.jinja' %}


{% block title %}

    Workers

{% endblock %}


{% block content %}

    <h1>Workers</h1>


    <article>

        <table>
        
            <thead>
                <tr>
                    <th>Worker Name</th>
                    <th>Specialty</th>
                    <th>Notes</th>
                    <th>Work Ethic</th>
                </tr>
            </thead>
        
            <tbody>
            
                {% for worker in workers %}

                    <tr>
                        <td>{{ worker.name }}</td>
                        <td>{{ worker.specialty }}</td>
                        <td>{{ worker.notes }}</td>
                        <td>{{ worker.ethic }}</td>

                        <td>
                            {% for worker in workers %}
                                {# Has this worker been alloocated to this task? #}
                                {% if worker.task_id == task.id %}
                                    <a href="/worker/{{ worker.id }}" title="{{ worker.name }}">{{ worker.id }}</a>
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>

                {% else %}
                    None
                {% endfor %}            
            
            </tbody>
        
        </table>
            <form>
            <h1>Add a New Worker</h1>
            <article>No idea</article>
            
            </form>

    </article>


    {# <article>

        <h3>Add a New Thing...</h3>

        <form action="/add" method="POST">

            <input
                type="text"
                name="name"
                placeholder="Worker"
                required
            >
            <input
                type="text"
                name="notes"
                placeholder="Some notes"
                required
            >
            <input
                type="text"
                name="specialty"
                placeholder="Specialty"
                required
            >

            <input
                type="number"
                name="ethic"
                min="0"
                placeholder="Their Work Ethic"
                required
            >

            <button>Add worker</button>

        </form> #}


{% endblock %}